[submodule ".registry"]
	path = .registry
	url = https://github.com/smith-group/smith-group.r-universe.dev
	branch = HEAD
[submodule "deeppicker"]
	path = deeppicker
	url = https://github.com/smith-group/deeppicker
[submodule "fitnmr"]
	path = fitnmr
	url = https://github.com/smith-group/fitnmr
[submodule "sparseLM"]
	path = sparseLM
	url = https://github.com/smith-group/sparseLM
